{% extends 'base.html.twig' %}

{% block title %}Operation index
{% endblock %}

{% block body %}

	<div class="menu">

		{% if is_granted('ROLE_EXPERT') %}
			<a href="../employee">Employés</a>
		{% endif %}
		{% if is_granted('ROLE_USER') %}
			<a href="../client">Clients</a>
		{% endif %}

		{% if not is_granted('ROLE_USER') %}
			<a href="../login">Se Connecter</a>
		{% endif %}


	</div>


	<h1>Liste des Opérations</h1>

	<div class="menu">
		{% if is_granted('ROLE_USER') %}
			<a id="new" href="{{ path('operation_new') }}">Nouvelle Opération</a>
		{% endif %}

		{% if is_granted("ROLE_EXPERT") %}
			<p id="revenue">Chiffre d'affaire:
				<span id="revenueNumber">
					{{ revenue}}
				</span>
				€</p>
		{% endif %}

	</div>


	<h2>À Faire</h2>

	<table class="container" class="table">
		<thead>
			<tr>
				<th>Employé</th>
				<th>Client</th>
				<th>Statut</th>
				<th>Type</th>
				<th>Description</th>
				{% if is_granted('ROLE_USER') %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for operation in operations|sort((a, b) => a.clientId.firstName <=> b.clientId.firstName) |filter(operation => operation.status != "done" and operation.status != "cancelled")  %}
				<tr>
					<td>{{ operation.userId.firstName }}</td>
					<td>{{ operation.clientId.firstName }}</td>

					{% if operation.status == 'in_progress' %}
						<td>En Cours</td>
					{% elseif operation.status == 'pending' %}
						<td>En Attente</td>
					{% endif %}

					{% if operation.type == 'big' %}
						<td>Grosse</td>
					{% elseif operation.type == 'medium' %}
						<td>Moyenne</td>
					{% elseif operation.type == 'small' %}
						<td>Petite</td>
					{% endif %}

					<td>{{ operation.description }}</td>
					{% if is_granted('ROLE_USER') %}
						<td class="actions">
							<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">Afficher</a>
							<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">Modifier</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune Donnée Trouver</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Terminée / Annulée</h2>

	<table class="container" class="table">
		<thead>
			<tr>
				<th>Employé</th>
				<th>Client</th>
				<th>Statut</th>
				<th>Type</th>
				<th>Description</th>
				{% if is_granted('ROLE_USER') %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for operation in operations|sort((a, b) => a.clientId.firstName <=> b.clientId.firstName)|filter(operation => operation.status == "done" or operation.status == "cancelled") %}
				<tr>
					<td>{{ operation.userId.firstName }}</td>
					<td>{{ operation.clientId.firstName }}</td>


					{% if operation.status == 'done' %}
						<td>Terminé</td>
					{% elseif operation.status == 'cancelled' %}
						<td>Annulée</td>
					{% endif %}

					{% if operation.type == 'big' %}
						<td>Grosse</td>
					{% elseif operation.type == 'medium' %}
						<td>Moyenne</td>
					{% elseif operation.type == 'small' %}
						<td>Petite</td>
					{% endif %}

					<td>{{ operation.description }}</td>
					{% if is_granted('ROLE_USER') %}
						<td class="actions">

							<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">Afficher</a>
							<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">Modifier</a>

						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune Donnée Trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
