{% extends 'base.html.twig' %}


{% block title %}Opération

{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="mb-3">
			Vous êtes connecté en tant que
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Se Déconnecter</a>
		</div>
	{% endif %}

	<a id="logo" href="http://127.0.0.1:8000">
		<img src="{{ asset('assets/images/propar.png') }}" alt="Propar">
	</a>


	<div class="menu">
		{% if is_granted("ROLE_EXPERT") %}
			<p id="revenue">Chiffre d'affaire:
				<span id="revenueNumber">
					{{revenue}}
				</span>
				€</p>
		{% endif %}
	</div>

	<div class="menu">


		{% if is_granted('ROLE_EXPERT') %}
			<a href="../employee">Employés</a>
		{% endif %}
		{% if is_granted('ROLE_USER') %}
			<a href="../client">Clients</a>
		{% endif %}

		{% if not is_granted('ROLE_USER') %}
			<a href="../login">Se Connecter</a>
		{% endif %}


	</div>


	<h1>Liste Opérations</h1>

	<div class="menu">
		{% if is_granted('ROLE_USER') %}
			<a id="new" href="{{ path('operation_new') }}">Nouvelle Opération</a>
		{% endif %}


	</div>

	<div class="form">
		<label for="Search">
			Que cherchez vous?</label>
		<input type="text" name="Search" id="SelectInput">
	</div>

	{% if is_granted('ROLE_USER') %}
		<h2>Mes Opérations</h2>

		<table class="container" class="table">
			<thead>
				<tr>
					<th>Employé</th>
					<th>Client</th>
					<th>Statut</th>
					<th>Type</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for operation in operations|sort((a, b) => a.clientId.firstName <=> b.clientId.firstName) |filter(operation => operation.status != "done" and operation.status != "cancelled" and operation.userId == app.user ) %}
					<tr>
						<td>{{ operation.userId.firstName }}</td>
						<td>{{ operation.clientId.firstName }}</td>

						{% if operation.status == 'in_progress' %}
							<td>En Cours</td>
						{% elseif operation.status == 'pending' %}
							<td>En Attente</td>
						{% endif %}

						{% if operation.type == 'big' %}
							<td>Grosse</td>
						{% elseif operation.type == 'medium' %}
							<td>Moyenne</td>
						{% elseif operation.type == 'small' %}
							<td>Petite</td>
						{% endif %}

						<td>{{ operation.description }}</td>
						{% if is_granted('ROLE_USER') %}
							<td class="actions">
								<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">Afficher</a>
								<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">Modifier</a>
							</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Aucune Donnée Trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<h2>À Faire</h2>

	<table class="container" class="table">
		<thead>
			<tr>
				<th>Employé</th>
				<th>Client</th>
				<th>Statut</th>
				<th>Type</th>
				<th>Description</th>
				{% if is_granted('ROLE_USER') %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for operation in operations|sort((a, b) => a.clientId.firstName <=> b.clientId.firstName) |filter(operation => operation.status != "done" and operation.status != "cancelled")  %}
				<tr>
					<td>{{ operation.userId.firstName }}</td>
					<td>{{ operation.clientId.firstName }}</td>

					{% if operation.status == 'in_progress' %}
						<td>En Cours</td>
					{% elseif operation.status == 'pending' %}
						<td>En Attente</td>
					{% endif %}

					{% if operation.type == 'big' %}
						<td>Grosse</td>
					{% elseif operation.type == 'medium' %}
						<td>Moyenne</td>
					{% elseif operation.type == 'small' %}
						<td>Petite</td>
					{% endif %}

					<td>{{ operation.description }}</td>
					{% if is_granted('ROLE_USER') %}
						<td class="actions">
							<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">Afficher</a>
							<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">Modifier</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune Donnée Trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Terminée / Annulée</h2>

	<table class="container" class="table">
		<thead>
			<tr>
				<th>Employé</th>
				<th>Client</th>
				<th>Statut</th>
				<th>Type</th>
				<th>Description</th>
				{% if is_granted('ROLE_USER') %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for operation in operations|sort((a, b) => a.clientId.firstName <=> b.clientId.firstName)|filter(operation => operation.status == "done" or operation.status == "cancelled") %}
				<tr>
					<td>{{ operation.userId.firstName }}</td>
					<td>{{ operation.clientId.firstName }}</td>

					{% if operation.status == 'done' %}
						<td>Terminée</td>
					{% elseif operation.status == 'cancelled' %}
						<td>Annulée</td>
					{% endif %}


					{% if operation.type == 'big' %}
						<td>Grosse</td>
					{% elseif operation.type == 'medium' %}
						<td>Moyenne</td>
					{% elseif operation.type == 'small' %}
						<td>Petite</td>
					{% endif %}

					<td>{{ operation.description }}</td>
					{% if is_granted('ROLE_USER') %}
						<td class="actions">

							<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">Afficher</a>
							<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">Modifier</a>

						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune Donnée Trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		$(document).ready(function () {
$("#SelectInput").keyup(function () {
var rows = document.getElementsByTagName("tr");
var input = document.getElementById("SelectInput").value.toString().toUpperCase();

for (var i = 0; i < rows.length; i++) {
var column = rows[i].getElementsByTagName("td");
var filter = "";
for (var j = 0; j < column.length - 1; j++) {
filter = filter + column[j].innerHTML.toString().toUpperCase() + " ";
}
if (filter.indexOf(input) > -1) {
rows[i].style.display = "";
} else {
rows[i].style.display = "none";
}
}
})

});
	</script>
{% endblock %}
