{% extends 'base.html.twig' %}

{% block title %}Operation index
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_EXPERT') %}
		<a href="../employee">Ajout d'un employé</a>
	{% endif %}
	{% if is_granted('ROLE_USER') %}
		<a href="../client">Ajout d'un client</a>
	{% endif %}

	{% if not is_granted('ROLE_USER') %}
		<a href="../login">Se connecter</a>
	{% endif %}

	
	<link href='../css/main.css' type="text/css" rel="stylesheet" />

	<h1>Operation index</h1>

	<table class="container" class="table">
		<thead>
			<tr>
				<th class="tableId">Id</th>
				<th>Employee</th>
				<th>Client</th>
				<th>Status</th>
				<th>Type</th>
				<th>Description</th>
				{% if is_granted('ROLE_USER') %}
					<th>actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for operation in operations|sort((a, b) => a.clientId.firstName <=> b.clientId.firstName)%}
				{% if operation.status != "done" %}
					<tr>
						<td class="tableId">{{ operation.id }}</td>
						<td>{{ operation.userId.firstName }}</td>
						<td>{{ operation.clientId.firstName }}</td>
						<td>{{ operation.status }}</td>
						<td>{{ operation.type }}</td>
						<td>{{ operation.description }}</td>
						{% if is_granted('ROLE_USER') %}
							<td>
								<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">show</a>
								<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">edit</a>
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table class="container" class="table" >
		<thead>
			<tr>
				<th>Id</th>
				<th>Employee</th>
				<th>Client</th>
				<th>Status</th>
				<th>Type</th>
				<th>Description</th>
				{% if is_granted('ROLE_USER') %}
					<th>actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for operation in operations %}
				{% if operation.status == "done" %}
					<tr>
						<td>{{ operation.id }}</td>
						<td>{{ operation.userId.firstName }}</td>
						<td>{{ operation.clientId.firstName }}</td>
						<td>{{ operation.status }}</td>
						<td>{{ operation.type }}</td>
						<td>{{ operation.description }}</td>
						{% if is_granted('ROLE_USER') %}
							<td>
						
							<a class="linkShow" href="{{ path('operation_show', {'id': operation.id}) }}">show</a>
							<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">edit</a>
								
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('operation_new') }}">Create new</a>
	{% endif %}
	{% if is_granted("ROLE_EXPERT") %}
		<p>Revenue:{{ revenue}}€</p>

	{% endif %}
{% endblock %}
