{% extends 'base.html.twig' %}

{% block title %}Nouvelle Opération
{% endblock %}

{% block body %}


	{% if app.user %}
		<div class="mb-3">
			Vous êtes connecté en tant que
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Se Déconnecter</a>
		</div>
	{% endif %}

	<a id="logo" href="http://127.0.0.1:8000">
		<img src="{{ asset('assets/images/propar.png') }}" alt="Propar">
	</a>

	<h1>Nouvelle Opération</h1>

	<div class="form">

		{{ include('operation/_form.html.twig') }}

		{% if error %}
			<div class="alert alert-danger">Cet Employé ne peut pas prendre d'opération supplémentaire</div>
		{% endif %}

		<a class="btn" href="{{ path('operation_index') }}">Retour</a>

	</div>


{% endblock %}
