{% extends 'base.html.twig' %}

{% block title %}Operation
{% endblock %}

{% block body %}
	<h1>Opération</h1>

	<div class="form">

        <table class="container">
		<tbody>
			<tr>
				<th>Employé</th>
				<td>{{ operation.userId.firstName }}</td>
			</tr>
			<tr>
				<th>Client</th>
				<td>{{ operation.clientId.firstName }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ operation.description }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				{% if operation.status == 'in_progress' %}
					<td>En Cours</td>
				{% elseif operation.status == 'pending' %}
					<td>En Attente</td>
				{% elseif operation.status == 'done' %}
					<td>Terminé</td>
				{% elseif operation.status == 'cancelled' %}
					<td>Annulée</td>
				{% endif %}
			</tr>
			<tr>
				<th>Type</th>
				{% if operation.type == 'big' %}
						<td>Grosse</td>
				{% elseif operation.type == 'medium' %}
						<td>Moyenne</td>
				{% elseif operation.type == 'small' %}
						<td>Petite</td>
				{% endif %}
			</tr>
			
		</tbody>
	</table>

	<a class="linkEdit" href="{{ path('operation_edit', {'id': operation.id}) }}">Modifier</a>

	{{ include('operation/_delete_form.html.twig') }}

	<a href="{{ path('operation_index') }}">Retour</a>

    </div>

	


{% endblock %}
