{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>
	<div class="form" id="register">
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.firstName, {
            label: 'Prénom'
        }) }}
		{{ form_row(registrationForm.lastName, {
            label: 'Nom'
        }) }}
		{{ form_row(registrationForm.roles, {
            label: 'Rôle'
        }) }}
		{{ form_row(registrationForm.username, {
            label: 'Compte'
        }) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe',
        }) }}

		<button type="submit" class="btn">Enregistrer</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
