{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}

{% if app.user %}
    <div class="mb-3">
        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
    </div>
{% endif %}

	<div class="menu">

		{% if is_granted('ROLE_USER') %}
			<a href="../employee">Employés</a>
		{% endif %}
		{% if is_granted('ROLE_EXPERT') %}
			<a href="../operation">Opération</a>
		{% endif %}
	</div>

	<h1>Liste Clients</h1>

	<div class="menu">
		<a href="{{ path('client_new') }}">Nouveau Client</a>
	</div>
	
	<table class="container">
		<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<td>{{ client.firstName }}</td>
					<td>{{ client.lastName }}</td>
					<td>{{ client.address }}</td>
					<td>
						<a class="linkShow" href="{{ path('client_show', {'id': client.id}) }}">Afficher</a>
						<a class="linkEdit" href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucune Donnée Trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	
{% endblock %}
