{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td id="address">{{ client.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}




<div id="map" style="width: 500px; height: 200px">
</div>


<script>   

let fetchRes = fetch("https://api-adresse.data.gouv.fr/search/?q="+ document.getElementById("address").innerHTML);

fetchRes.then(res => res.json())
        .then(d => {
            var map = L.map('map').setView([0,0], 16);

            L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: ['a','b','c']
            }).addTo( map );


            new L.GeoJSON(d.features[0]).addTo(map).bindPopup(document.getElementById("address").innerHTML).openPopup();;
            map.flyTo([d.features[0].geometry.coordinates[1],d.features[0].geometry.coordinates[0]]);
        })

</script>


{% endblock %}