{% extends 'base.html.twig' %}

{% block title %}Employé
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="mb-3">
			Vous êtes connecté en tant que
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Se Déconnecter</a>
		</div>
	{% endif %}

	<a id="logo" href="http://127.0.0.1:8000">
		<img src="{{ asset('assets/images/propar.png') }}" alt="Propar">
	</a>

	<div class="menu">

		{% if is_granted('ROLE_USER') %}
			<a href="../client">Clients</a>
		{% endif %}
		{% if is_granted('ROLE_EXPERT') %}
			<a href="../operation">Opération</a>
		{% endif %}
	</div>
	<h1>Liste Employés</h1>

	<dic class="form">

		<a href="{{ path('employee_new') }}">Créer Employé</a>

	</div>

	<div class="form">
		<label for="Search">
			Que cherchez vous?</label>
		<input type="text" name="Search" id="SelectInput">
	</div>

	<table class="container">
		<thead>
			<tr>
				<th>Compte</th>
				<th>Rôles</th>
				<th>Nom</th>
				<th>Prénom</th>
			</tr>
		</thead>
		<tbody>
			{% for employee in employees %}
				<tr>
					<td>{{ employee.username }}</td>
					{% if employee.roles[0] == "ROLE_EXPERT" %}
						<td>Expert</td>
					{% elseif employee.roles[0] == "ROLE_SENIOR" %}
						<td>Senior</td>
					{% elseif employee.roles[0] == "ROLE_APPRENTICE" %}
						<td>Apprenti</td>
					{% elseif employee.roles[0] == "ROLE_USER" %}
						<td></td>
					{% endif %}
					<td>{{ employee.lastName }}</td>
					<td>{{ employee.firstName }}</td>
					<td>
						<a class="linkShow" href="{{ path('employee_show', {'id': employee.id}) }}">Afficher</a>
						<a class="linkEdit" href="{{ path('employee_edit', {'id': employee.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucune donnée trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script>
		$(document).ready(function () {
$("#SelectInput").keyup(function () {
var rows = document.getElementsByTagName("tr");
var input = document.getElementById("SelectInput").value.toString().toUpperCase();

for (var i = 0; i < rows.length; i++) {
var column = rows[i].getElementsByTagName("td");
var filter = "";
for (var j = 0; j < column.length - 1; j++) {
filter = filter + column[j].innerHTML.toString().toUpperCase() + " ";
}
if (filter.indexOf(input) > -1) {
rows[i].style.display = "";
} else {
rows[i].style.display = "none";
}
}
})

});
	</script>
{% endblock %}
