{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block body %}

{% if app.user %}
    <div class="mb-3">
        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
    </div>
{% endif %}

	<a id="logo" href="http://127.0.0.1:8000">
		<img src="{{ asset('assets/images/propar.png') }}" alt="Propar">
	</a> 
    
    <h1>Employé</h1>

    <div class="form">

    <table class="container">
        <tbody>
            <tr>
                <th>Compte</th>
                <td>{{ employee.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
					{% if employee.roles[0] == "ROLE_EXPERT" %}
						<td>Expert</td>
					{% elseif employee.roles[0] == "ROLE_SENIOR" %}
						<td>Senior</td>
					{% elseif employee.roles[0] == "ROLE_APPRENTICE" %}
						<td>Apprenti</td>
					{% elseif employee.roles[0] == "ROLE_USER" %}
						<td></td>
					{% endif %}
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ employee.firstName }}</td>
            </tr>
        </tbody>
    </table>
    <div>

    <div class="form">

    <a class="linkEdit" href="{{ path('employee_edit', {'id': employee.id}) }}">Modifier</a>

    {{ include('employee/_delete_form.html.twig') }}

    <a href="{{ path('employee_index') }}">Retour</a>

    </div>

{% endblock %}
